html {
    margin: 0 auto;
    max-width: 1200px;
}

img {
    width: 100%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.product {
    width: 20%; 
    background-color: lightgray;
    padding: 1em;
}