html {
    margin: 0 auto;
    max-width: 1200px;
}

img {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

header p {
    font-size: 28px;
    font-weight: bold;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    padding: 1em;
}

header ul li a {
    color: black;
    font-style: none;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid;
    border-radius: 30px;
    padding: 0.5em;
}

header ul li a:hover {
    background-color: lightgray;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.product {
    background-color: lightgray;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.read-more {
    margin-top: auto;
}

#categoryList {
    padding: 1em;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

#categoryList li {
    padding: 3em;
    background-color: tomato;
    width: 8em;
    text-align: center;
    border-radius: 5px;
}

#categoryList a {
    color: white;
    font-size: 18px;
}

.category:hover {
    background-color: lightgray;
}

#product {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 1em;
}

.custom-properties {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    background-color: lightgray;
    padding: 2em;
}

.udsolgt {
    display: none;
}

.udsolgt p {
    border: solid 1px;
    border-radius: 5px;
    padding: 1em;
    font-size: 16px;
    text-align: center;
    background-color: red;
}

/* .soldOut {
    opacity: 60%;
} */


/* .soldOut p {
    border: solid 1px;
    border-radius: 5px;
    padding: 1em;
    font-size: 16px;
    text-align: center;
    background-color: red;
    position: absolute;
    z-index: 10;
    top: 14%;
}
 */

.soldOut::before {
    content: "Sold Out";
    position: absolute;
    background: red;
    padding: 1rem;
    border: solid 1px black;
    border-radius: 5px;
 }

 .soldOut {
    opacity: 60%;
 }